.wrapper {
    margin-left: auto;
    margin-right: auto;
    min-width: 320px;
}

.row {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

.header {
    background-color: #130300;
    h1.logo {
        padding-left: 42px;
        padding-top: 16px;
        float: left;
        a {
            display: block;
            width: 120px;
            height: 24px;
            text-indent: 110%;
            overflow: hidden;
            white-space: nowrap;
            background: url(../img/logo_w@svg.svg) no-repeat;
        }
    }
}

.menu{
	background-color:rgba(0,0,0,.35);
	height: 54px;
}

.menu ul {
    float: right;
    @include pad(){
        overflow: hidden;
        max-height: 0;
        transition: max-height 1.2s;
        margin-top: 1px;
        position: absolute;
        z-index: 30;
        top: 58px;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, .9);
    };
    li {
        float: left;
        color: #fff;
        @include pad(){
            float:none;
            border-bottom: 3px solid #fafafa;
            text-align:center;
        };
        a {
            display: block;

            padding: 18px 15px 15px;
        }
        &:hover,&:active,&:focus {
            border-bottom: 3px solid $bg-1-color;
            color: $font-2-Color;
        }
    }
}

.hb-btn{
    display: none;
    cursor: point;
    width: 40px;
    height: 40px;
    // border:1px solid #fff;
    position: relative;
    right:5px;
    top:5px;
    float:right;
    margin-top: 4px;
    margin-right: 10px;
    cursor:pointer;
    @include pad(){
        display:inline-block;
    };
}
.hb-btn:before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 80%;
    height: 3px;
    background-color: #fff;
    box-shadow: 0px -10px 0px 0px #fff,
                0px 10px 0px 0px #fff;
}

input#hb{
    position: absolute;
    opacity: 0;
    left: -100px;
}

input#hb:checked ~ .menu ul{
      max-height: 350px;     
}


.header>.row {
    background-color:#000;
    background-image: url('../img/header_desktop.png');
    background-repeat: no-repeat;
    height: 414px;
    background-size: cover;
    background-position: center center;
    margin-bottom: 50px;
    @include iphone(){
         background-image:url('../img/Bitmap.png')
    };
}

.banner-title {
    max-width: 460px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.35);
    color: #fff;
    text-align: center;
    position: relative;
    padding: 20px;
    top: 25%;
    h2 {
        font-size: $font-size * 2.25;
        padding-bottom: 16px;
        font-weight: 300;
    }
    span {
        line-height: 1.5;
        font-weight: 400;
    }
}

.footer {
    padding: 50px 42px;
    color: $font-Color;
    line-height: 1.6;
    .row {
        position: relative;
    }
    h3 {
        font-size: 24px;
        font-weight: 600;
        padding-bottom: 16px;
    }
    @include iphone(){
        padding:50px 10px;
    };
}

.about-hex{
    @include pad(){
        display:none;
    };
}
.about-hex,
.contact-hex {
    width: 299px;
    float: left;
    margin-right: 40px;
    
}
.contact-hex ul {
    padding-left:20px;
    @include iphone(){
        margin-bottom:30px;
    };
}

.community-hex {
    float: right;
    img {
        padding-bottom: 22px;
    }
}

.community-icon {
    position: absolute;
    right: 0;
    font-size: $font-size * 2.25;
}

.google-icon {
    color: #DB4437;
}

.twitter-icon {
    color: #41ABE1;
}

.facebook-icon {
    color: #3A5795;
} 