@import "variable";
@import "reset";
@import "grid";

//Model
@import "btn";

//layout
@import "layout";
@import "index";
@import "ordercarts";
@import "login";
@import "register";





.clearfix:after{
	content:'';
	display:block;
	clear:both;
}